@import "tailwindcss";
* {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(0,0,0,0);
}

::-webkit-scrollbar-thumb {
 background: linear-gradient(to bottom, #726d79,#bda8c0);
  border-radius: 10px;
}